@import "_variables";

@keyframes shake {
    0% {
      transform: rotate(-10deg);
    }
    15% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(-5deg);
    }
    45% {
      transform: rotate(5deg);
    }
    60% {
      transform: rotate(0deg);
    }
  }

.hero {
    padding: 82px 16px 88px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__image-container {
        position: relative;
        width: 100%;
        margin-bottom: 24px;
    }

    &__image {
        width: 96px;
        height: 96px;
        box-sizing: content-box;
        border-radius: 50%;
        border: 16px solid $blue-lightest;

        @media screen and (min-width: $desktop-width) {
            width: 178px;
            height: 178px;
        }
    }

    &__hello {
        display: none;

        @media screen and (min-width: $desktop-width) {
            display: inline-block;
            background: $blue;
            padding: 16px 19px;
            border-radius: 16px;
            line-height: 40px;
            font-size: 32px;
            font-weight: bold;
            color: $white;
            position: absolute;
            top: -10%;
        }
    }

    &__hello-icon {
        animation: shake linear 1s infinite;
        display: inline-block;
    }

    &__about{
        margin-bottom: 48px;

        @media screen and (min-width: $desktop-width) {
            margin: 0 229px 48px;
            position: relative;
            max-width: 720px;
        } 

        &::before {
            @media screen and (min-width: $desktop-width) {
                content: url("/src/assets/img/open-bracket.png");
                position: absolute;
                left: -82px;
            } 
        }

        &::after {
            @media screen and (min-width: $desktop-width) {
                content: url("/src/assets/img/close-bracket.png");
                position: absolute;
                right: -82px;
                top: 0;
            } 
        }
    }

    &__header {
        color: $text-dark;
        margin-bottom: 16px;
        font-size: 26px;
        font-weight: bold;
        line-height: 32px;
    }

    &__special {
        color: $blue;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
    }

    &__description {
        color: $text-default;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
    }

    &__link {
        color: $link;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
    }

    &__mail {
        color: $white;
        background: $link;
        border-radius: 64px;
        padding: 4px 24px;
        margin: 0px 40px;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        display: inline-block;
    }
}
